.card {
    display:flex;
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:2%;
    width:18%;
    padding:1%;
    text-align: center;
    border:solid grey;
    border-radius: 4%;
}

.card img{
    width:60%;
    height:auto;
}

.boton-detalle{
    padding:2%;
    margin:30%;
    color:black;
    border: double grey;
}
