*{
    --main-color:rgb(236, 114, 114);
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 237, 237);
    margin:3% 35%;
    border: solid rgb(228, 219, 219) 2px;
    border-radius: 5px;
}

.part-form{
    display:flex;
    flex-direction: column;
    width:500px;
    margin-top:2%;
}

.button-form {
    background-color: var(--main-color);
    width:150px;
    color:white;
    cursor:pointer;
    height: 30px;
    border: solid rgb(129, 128, 128) 2px;
    border-radius: 5px;
}

.buttons-form{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:5% 15%;
    border-radius: 5px;
}

.button-cerrar{
    background-color: var(--main-color);
    width:150px;
    color:white;
    cursor:pointer;
    height: 30px;
    margin-top:10%;
    margin-bottom:10%;
    border: solid rgb(129, 128, 128) 2px;
    border-radius: 5px;
}

.container-fin{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 237, 237);
    margin:3% 35%;
    border: solid rgb(228, 219, 219) 2px;
    border-radius: 5px;
}

input{
    height: 25px;
    font-family: sans 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:auto;
    border:solid black 1px;
    border-radius: 5px;
    padding:1% 4%;
    text-align: center;
}