*{
    --main-color:rgb(236, 114, 114);
}

header {
    box-shadow: 3px 3px 5px grey;
    background-color: var(--main-color);
    height:4rem;
    display:flex;
    justify-content: space-between;
    color:white;
    align-items: center;
}

.nav__list{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    margin-left:15%;
}

ul :hover{
    color:black;
}

.nombre{
    font-size:30px;
    margin:1%;
    color:white;
}

a {
    text-decoration: none;
    color:white;
}

